<!DOCTYPE html>
<html>

<head>
    <title>Add Company</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Add Company</h1>

<div class="container">

<form method="POST">

    <label>Company Name:</label><br>
    <input type="text" name="company_name" required>

    <br><br>

    <label>Location:</label><br>
    <input type="text" name="location">

    <br><br>

    <button type="submit">Add Company</button>

</form>

</div>

</body>
</html>