<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!DOCTYPE html>
<html>
<head>
    <title>Companies</title>
</head>
<body>

<h1>Companies</h1>

<a href="/add_company">Add Company</a>

<br><br>

<ul>
    {% for company in companies %}
        <li>
            {{ company.company_id }} -
            {{ company.company_name }} -
            {{ company.location }}

            <a href="/edit_company/{{ company.company_id }}">Edit</a>
            <a href="/delete_company/{{ company.company_id }}"
            onclick="return confirm('Are you sure you want to delete this company?');">
            Delete
            </a>

        </li>
    {% endfor %}
</ul>

</body>
</html>

