<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Dashboard</h1>

<div class="container">

    <p><strong>Total Companies:</strong> {{ companies }}</p>
    <p><strong>Total Jobs:</strong> {{ jobs }}</p>
    <p><strong>Total Contacts:</strong> {{ contacts }}</p>
    <p><strong>Total Applications:</strong> {{ applications }}</p>

</div>

<br>

<div class="container">
    <a href="/companies">Companies</a><br><br>
    <a href="/jobs">Jobs</a><br><br>
    <a href="/contacts">Contacts</a><br><br>
    <a href="/applications">Applications</a><br><br>
    <a href="/job_match">Job Match</a>
</div>